errorx.sublime-workspace
dependencies_old/
sublime.project
sublime.sublime-workspace
.cproject
.project
.settings/
unit_test/hs_err*.log

bin/errorx
bin/errorx_testing

lib/*

unit_test/cxxtest/**
!unit_test/cxxtest/bin/
unit_test/testing/test.fasta.out
unit_test/bin/*
unit_test/*.cc
unit_test/*.class
unit_test/testing/out.tsv

java_bindings/errorx/*.class
java_bindings/ErrorX.jar
java_bindings/errorx/liberrorx_java.dylib

python_bindings/production/errorx/errorx_lib.so

build_test/new/*
build_test/TestErrorX.class
build_test/input_files/test.fasta*
